:root {
    --green: #13430F;
    --red: #9B3029;
    --blue: #253E4B;
    --black: #0e0e0e;
    --white: #fafafa;

    --border-radius: 16px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 1rem;
    font-family: 'roboto', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

body {
    background-image: url(image.png);
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

h1, h2 {
    font-family: 'roboto slab', Tahoma, Geneva, Verdana, sans-seri;
}

.buttonRed {
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    background-color: var(--red);
    box-shadow: inset 0 0 0 1px var(--black);
    cursor: pointer;
}
.buttonGreen {
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    background-color: var(--green);
    box-shadow: inset 0 0 0 1px var(--black);
    cursor: pointer;
}


/*  === START OF TOP SECTION === */

#topSection {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

.topSectonWrapper {
    position: relative;
    background-color: var(--black);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 0.5rem 1.5rem;
}

.colorSectionTitle {
    position: absolute;
}

.colorForm  {
    display: grid;
    margin-top: 8px;

    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    justify-items: center;
}

.colorTitle {
    width: max-content;
    min-width: 100%;
    text-align: right;
}

.colorLabel, .colorLabelLong {
    text-align: center;
}

.colorInput {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 0.25rem;
}
input[type="range"] {
    width: 100px;
    margin-bottom: 8px;
}


/*  === START OF RIGHT SECTION === */

#rightSection {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;
}
#rightSection h1 {
    margin: 0.5rem 1rem;
}

.rightSectionWrapper {
    position: relative;
    height: auto;
    width: 10rem;

    background-color: var(--black);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.tableWrapper {
    max-height: 350px;
    overflow: scroll;
    margin: 0.5rem 0rem 0.5rem 1rem;
}
.table {
    border-collapse: collapse;
    margin-bottom: 5rem;
}
.table * {
    font-weight: lighter;
}
.table th {
    position: sticky;
    top: 0;
    background-color: var(--black);
}
.table td {
    text-align: right;
    padding: 0.4rem 0.3rem;
}

.action {
    position: absolute;
    bottom: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
    background-color: var(--blue);
    padding: 0.5rem;
}
.action > h2 {
    padding: 0.5rem;
    padding-top: 0;
}
.action > button {
    padding: 0.25rem 0.75rem;
}


/*  === START OF BOTTOM SECTION === */

#bottomSection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}
.bottomSectionWrapper {
    position: relative;
    background-color: var(--black);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 0.5rem 1rem;
}

.mainInputs, .mainActions {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.drawButton {
    display: block;
    position: relative;
    border: none;
    border-radius: 6px;
    text-align: left;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    background-color: var(--blue);
    box-shadow: inset 0 0 0 1px var(--black);
    box-shadow: 0 0 0 0 var(--white);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
  
  /* Hide the browser's default radio button */
.drawButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 90%;
    width: 2rem;
    margin: 2px;
    background-color: var(--blue);
    border-radius: 8px;
    border: none;
    font-size: 2rem;
}

/* On mouse-over, add a grey background color */
.drawButton:hover {
    box-shadow: 0 0 5px 1px var(--white);
}

.checkmark:after {
    position: absolute;
    right: 0.2rem;
    top: -0.1rem;
    bottom: -0.1rem;
    content: "✘";
    font-size: 1.7rem;
    display: block;
}
.drawButton input:checked ~ .checkmark:after {
    content: "✔";
}


.mainInput > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
}
.mainInput > input[type="number"] { 
    width: 65px;
    text-align: center;
}
.mainInput > input[type="number"] { 
    border-radius: 0 8px 8px 0;
}
.mainActions > h1 {
    color: var(--blue);
}


/*  === START OF ALERT SECTION === */

#alert {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}
.alertBackground {
    background-color: #0e0e0ed3;
}
.alertWrapper {
    position: relative;
    background-color: var(--black);
    border: 2px solid var(--red);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    min-width: 20rem;
    max-width: 33%;
    letter-spacing: 0.1rem;

    display: flex;
    flex-direction: column;
}
.alertWrapper > * {
    margin: 0.5rem;
}
.alertWrapper > button {
    align-self: center;
}



.hidden, .hidden * {
    display: none;
    height: 0;
    width: 0;
}